@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}


/* Custom scrollbar */

html::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--bg-color);
}

html::-webkit-scrollbar-track {
    background-color: #00b3ff;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}


/* Global Color */

:root {
    --main-color: rgb(255, 113, 94);
    --text-color: white;
    --bg-color: #020307;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    background-color: var(--bg-color);
}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.logo i {
    margin-right: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 30px;
    z-index: 1000;
}

.navbar li {
    position: relative;
    z-index: 1000;
}

.navbar a {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

.navbar a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}

.navbar a:hover::after,
.navbar .active::after {
    width: 100%;
}

.btn {
    background-color: var(--main-color);
    padding: 0.7rem 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    border-radius: 15px;
}

.btn:hover {
    background-color: #fc1f0f;
}


/* Home Section */

.container {
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
}

.container img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
}

.home-text {
    padding-left: 150px;
}

.home-text span {
    color: var(--text-color);
    font-weight: 500;
    text-transform: uppercase;
}

.home-text h1 {
    color: var(--text-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.play {
    position: absolute;
    right: 4rem;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    transition: 0.5s;
}

.bx {
    color: var(--text-color);
    font-size: 2rem;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 10px;
    border: rgb(2, 3, 7, 0.4);
}

.play:hover {
    transform: scale(1.2);
    filter: brightness(1.3);
}


/* Movies Section */

.heading {
    max-width: 968px;
    margin: 30px auto 30px auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}

.movies-container {
    max-width: 960px;
    margin: 0px auto 0px auto;
    display: grid;
    /*grid-template-columns: auto auto auto auto;*/
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
}

.box-img {
    width: 100%;
    height: 270px;
    transition: 0.5s;
    background-color: #fc1f0f;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px #302f2f;
}

.box h3 {
    margin-top: 1rem;
}

.box-img:hover {
    transform: translateY(-5px);
}


/*message section*/

.contact {
    max-width: 968px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contact h2 {
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    margin-bottom: 10px;
}

.contact form {
    background-color: var(--text-color);
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact form .email {
    border: none;
    outline: none;
    width: 200px;
}

.contact .btn {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
}

.bx {
    background-color: var(--bg-color);
    cursor: pointer;
    border: none;
    outline: none;
}


/*footer */

.footer {
    max-width: 968px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.social {
    display: flex;
    gap: 0.5rem;
}

.social .bx {
    background-color: var(--main-color);
    padding: 2px;
    border-radius: 50%;
    font-size: 2rem;
    border: 4px solid rgb(2, 3, 7, 0.4);
    color: var(--text-color);
    transform: 0.5s;
}

.social .bx:hover {
    filter: brightness(1.4);
}

.codelab {
    background-color: red;
    text-align: center;
    margin-top: 20px;
    padding: 5px 0px;
}

@media (max-width:1080px) {
    .home-text {
        padding: 0px 100px;
    }
}

@media (max-width:991px) {
    .home-text {
        padding: 0 4%;
    }
    .home-text h1 {
        font-size: 3rem;
    }
    section {
        padding: 20px 0px;
    }
}

@media (max-width:900px) {
    .navbar {
        display: none;
    }
    .home-text h1 {
        font-size: 2rem;
    }
    .btn {
        padding: 0.6rem 1.2rem;
    }
}

@media (max-width: 477px) {
    header {
        padding: 10px 60px;
    }
    .logo {
        font-size: 20px;
        font-weight: 300px;
    }
    .logo i {
        font-size: 30px;
    }
    .codelab {
        padding: 0px 20px;
        font-size: 12px;
    }
}

@media (max-width: 370px) {
    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    .logo {
        font-size: 15px;
        font-weight: 200px;
    }
    .logo i {
        font-size: 20px;
    }
    header .btn {
        padding: 0.3rem 0.7rem;
        font-weight: 300;
        border-radius: 15px;
    }
    header {
        padding: 10px 50px;
    }
    .contact form .email {
        width: auto;
    }
    .home-text {
        margin-left: 20px;
    }
    .home-text h1 {
        font-size: 1.7rem;
    }
    .play {
        bottom: 8%;
        right: 1rem;
    }
    .home-text .play .bx {
        padding: 7px;
    }
    .box .box-img {
        height: 400px;
    }
    .codelab {
        font-size: 9px;
    }
}